body{
    background-color: teal;
}
.links{
    display: flex;
    justify-content: space-around;
    }

    p{
        font-size: larger;
    }

    .main-text{
        direction: rtl;
    }
    footer{
        text-align: center;
        font-weight: bold;
    }
    
    .photo{
        text-align: center;
    }

    h1{
        text-align: center;
        direction: rtl;
    }