body{
    background-color: teal;
}
.links{
    display: flex;
    justify-content: space-around;
    }

h2, form{
    direction: rtl;
}
p{
    font-size: larger;
}
footer{
    text-align: center;
    font-weight: bold;
}
h1{
    text-align: center;
    direction: rtl;
}